body {
    font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
    color: #374650;
    margin: 0;
}

*:focus {
    outline: none;
    outline-offset: none;
}

p {
    margin: 5px;
}

h3 {
    margin: 10px;
}

form {
    margin: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type="text"] {
    font-size: 16px;
    padding: 10px;
    color: #374650;
    border: solid 1px #CDCDC8;
}

input[type="submit"] {
    margin: 10px;
    text-align: center;
    padding: 14px 50px 12px 50px;
    border: 2px solid #FE5000;
    border-radius: 25px;
    background: transparent;
    color: #FE5000;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.1s;
}

input[type="submit"]:hover {
    border: 2px solid #FE5000;
    background: #FE5000;
    color: white;
}

input[type="radio"] {
    position: absolute;
    display: hidden;
}

input[type="radio"] + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 21px;
    display: inline-block;
}

input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #FE5000;
    border-radius: 100%;
    background: #fff;
}

input[type="radio"] + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #FE5000;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

button {
    margin: 5px;
    text-align: center;
    padding: 14px 50px 12px 50px;
    border: 2px solid #FE5000;
    border-radius: 25px;
    background: transparent;
    color: #FE5000;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.1s;
}

button:hover {
    border: 2px solid #FE5000;
    background: #FE5000;
    color: white;
}

button.stencil {
    margin: 5px;
    text-align: center;
    padding: 5px;
    border: 0px;
    border-radius: 0px;
    background: transparent;
    color: #FE5000;
    cursor: pointer;
    font-weight: normal;
    font-size: 25px;
    transition: 0.1s;
}

button.stencil:hover {
    color: #da4c1f;
}

header {
    padding-top: 10px;
    background: transparent;
    color: #374650;
}

header > h3 {
    margin-left: 16px;
    background: transparent;
    color: #374650;
}

nav.tabBar {
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to bottom, #374650 0px, #374650 44px, transparent 100%);
    border-image-slice: 1;
}

nav.tabBar > ul > li {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    padding: 0px 16px;
    line-height: 2.5;
    cursor: pointer;
}

nav.tabBar > ul > li:hover {
    color: #328CC3;
}

nav.tabBar > ul > li.tabBarSelected {
    color: #328CC3;
    border-bottom: solid 4px #328CC3;
}

.pageContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flexRowContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flexColumnContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.flexCentered {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexCentered > * {
    text-align: center;
}

.flexTopCentered {
    height: 100%;
    display: flex;
    justify-content: center;
}

.container500px {
    width: 500px;
}

.container400px {
    width: 400px;
}

.container90pcCenter {
    width: 90%;
}

.container90pcCenter > h3 {
    margin-top: 25px;
}

.container90pcCenter > input {
    width: 100%;
}

.container90pcCenter > input[type="submit"] {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.flexRow {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.listItem {
    padding: 5px;
    border-bottom: 1px solid #dfe3e6;
}

.menu {
    width: 250px;
    height: 100%;
    padding: 5px 5px;
    background: #374650;
}

.menu h3{
    font-weight: 100;
    font-size: 1.4em
}

.menu nav{
    display: block;
}

.menu nav>div{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    padding: 5px;
}

.menu nav > div:hover{
    background: lightgray;
}

.menu .header{
    position: relative;
    color: #CDCDC8;
    margin: 20px;
}

.menu .footer{
    position: fixed;
    color: #CDCDC8;
    bottom: 0px;
    margin: 20px;
}

.glcMainUIDetailPage {
    flex-grow: 1;
}

.radioList {
    background: transparent;
    margin: 10px 0px;
    padding: 5px;
}

.radioList label > div {
    padding: 10px;
    background: white;
    margin-top: 5px;
}

.radioList label:first-child > div {
    margin-top: 0px;
}

.radioList label:last-child > div {
    border-bottom: none;
}

.radioList label > input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

.radioList label > input[type="radio"] + div {
    cursor: pointer;
}

.radioList label > input[type="radio"]:hover + div {
    background: #CDCDC8;
}

.radioList label > input[type="radio"]:checked + div {
    color: black;
    background: #0ab4dc;
}

.radioList label:last-child > input[type="radio"]:checked + div {
    border-bottom: none;
}

.hidden {
    /*
    For hiding/unhiding to work correctly, this needs to be at the bottom of the classes.
    If you want something hideable, don't set 'display:' below this.
    */
    display: none;
}

#loadingPage {
    text-align: center;
}

#glcMainUIDisplayContainer {
    flex-grow: 1;
}