body
{
    font-family: Arial, Helvetica, sans-serif
}

.pageHeader {
    text-align: center;
}

.serverSelection {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 20;
    margin-bottom: 10;
}

#configuredServers .ui-selecting {
    background: #c3c3c3;
}

#configuredServers .ui-selected {
    background: #878787;
    color: white;
}

#configuredServers {
    list-style-type: none;
    margin: 0;
    padding: 0;
}