body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    margin: 0;
}

.pageContainer {
    display: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.topCentered {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%)
}

.container500px {
    width: 500px;
}

.container400px {
    width: 400px;
}

.flexRow {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.listItem {
    padding: 5px;
    border-bottom: 1px solid #dfe3e6;
}

.hidden {
    display: none;
}

.menu {
    width: 250px;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    padding: 0px 5px;
    background: #374650;
}

.menu h3{
    font-weight: 100;
    font-size: 1.4em
}

.menu nav{
    display: block;
}

.menu nav>div{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    padding: 5px;
}

.menu nav>div:hover{
    background: lightgray;
}

.menu .header{
    position: relative;
    color: #CDCDC8;
    margin: 20px;
}

.menu .footer{
    position: fixed;
    color: #CDCDC8;
    bottom: 0px;
    margin: 20px;
}

#loadingPage {
    display: block;
    text-align: center;
}